.cont{
    
   
    position: relative;

}
.titlex{
    position: absolute;
    top: 100px;
    left: 159px;
    font-size: 40px;
    size: 20px;
    font-weight: bold;
    font-family:sans-serif;
    text-align: center;
    
    color: rgb(0, 0, 0);

}
.back{
    margin: 10%;
    width: 350px;
    height: 500px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.80);
}
.events{
    position: absolute;
    color:blueviolet;
    font-family: arial;
    font-size: 12px;
    top: 320px;
    left: 130px;
}
.head{
    position: absolute;
    top: 60px;
    left:130px;
    font-family: arial;
    font-size: 15px;
}
.location{
    position: absolute;
    top: 400px;
    left: 100px;
    font-family:arial;
    color: rgb(0, 6, 8);
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(221, 164, 164, 0.98);
}
.date{
    position: absolute;
    top: 270px;
    left: 70px;
    color: black;
    
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.80);
    
}
.time{
    position: absolute;
    top: 270px;
    left:310px;
    color: black;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.80);
}
.register{
    position: absolute;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    top: 500px;
    left: 183px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 34px;
    color:blue;
    background-color:white;
    box-shadow:0px 0px 10px rgba(129, 5, 122, 10.4);
}
.register:hover{
    color: white;
    background-color: blue;
    
}
